* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./tree.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.596);
    /* background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(51, 51, 51, 0.055)); */
}

.calculator {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.164), 5px 5px 15px rgba(0, 0, 0, 0.897);
    position: relative;
    z-index: 10;
}

.calculator::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.123);
    /* background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(51, 51, 51, 0.5)); */
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 10;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    text-align: right;
}

form input.equal {
    width: 145px;
    background: #ffae00;
}

form input.operator1 {
    color: #00ffd0;
    background-color: #00ffd021;
    box-shadow: none;
}

form input.operator1:hover {
    box-shadow: -8px -8px 15px rgba(0, 255, 208, 0.377), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

form input.operator2 {
    color: #ffae00;
    background-color: #f8aa0027;
    box-shadow: none;
}

form input.operator2:hover {
    box-shadow: -8px -8px 15px rgba(255, 174, 0, 0.377), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
