@media screen and (min-width: 450px) and (max-width: 1000px) {
    .btnArea {
        width: 100%;
        background-color: rgb(24, 24, 24);
        padding: 20px 30px 30px 10px;
        border-radius: 40px 40px 0px 0px;
        
    }
    
    .btn-row {
        width: 96vw;
    }
    
    .btn-row > input {
        border: 0;
        outline: 0;
        width: 26%;
        height: 68px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }

    .display {
        margin: 20px 30px;
        width: 93vw;
        height: 100px;
        text-align: right;
        font-size: 60px;
        padding: 0 20px;
        box-shadow: none;
        background: transparent;
        border: none;
        color: white;
     }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    .btnArea {
        width: 100%;
        background-color: rgb(24, 24, 24);
        padding: 20px 30px 30px 15px;
        border-radius: 40px 40px 0px 0px;
        
    }
    
    .btn-row {
        width: 97vw;
    }
    
    .btn-row > input {
        border: 0;
        outline: 0;
        width: 26%;
        height: 80px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }

    .display {
        margin: 20px 30px;
        width: 95vw;
        height: 100px;
        text-align: right;
        font-size: 60px;
        padding: 0 20px;
        box-shadow: none;
        background: transparent;
        border: none;
        color: white;
     }
}

@media screen and (min-width: 1501px) and (max-width: 1629px) {
    .btnArea {
        width: 100%;
        background-color: rgb(24, 24, 24);
        padding: 30px 30px 30px 15px;
        border-radius: 40px 40px 0px 0px;
        
    }
    
    .btn-row {
        width: 97vw;
    }
    
    .btn-row > input {
        border: 0;
        outline: 0;
        width: 26%;
        height: 90px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }

    .display {
        margin: 20px 30px;
        width: 95vw;
        height: 100px;
        text-align: right;
        font-size: 60px;
        padding: 0 20px;
        box-shadow: none;
        background: transparent;
        border: none;
        color: white;
     }
}

@media screen and (min-width: 1630px){
    .btnArea {
        width: 100%;
        background-color: rgb(24, 24, 24);
        padding: 30px 30px 30px 18px;
        border-radius: 40px 40px 0px 0px;
        
    }
    
    .btn-row {
        width: 98vw;
    }
    
    .btn-row > input {
        border: 0;
        outline: 0;
        width: 25%;
        height: 107px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }

    .display {
        margin: 20px 30px;
        width: 96vw;
        height: 100px;
        text-align: right;
        font-size: 60px;
        padding: 0 20px;
        box-shadow: none;
        background: transparent;
        border: none;
        color: white;
     }
}

